@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
.logo{
animation: load 2s ease-out 0s infinite alternate forwards;
}
@keyframes load {
  0% {
    opacity: 0;
    transform:rotate(-360deg);
  }

  100% {
    opacity: 1;
    transform:rotate(360deg);
  }
}
h2{
    font-family: 'Shadows Into Light', cursive;
}